/* ==========================================================================
   Grid
   ========================================================================== */
$susy: (
   	math: fluid,
   	output: float,
   	gutter-position: after,
   	container: auto,
   	container-position: center,
   	columns: 12,
   	gutters: 20px/60px,
   	column-width: 60px
);
